{% extends 'base.html.twig' %}

{% block body %}
<article>
        <h2> {{article.title}} </h2>
        <div class="metada">Ecrit le {{ article.createdAt | date('d/m/y') }} à {{article.createdAt | date('H:i') }} dans la catégorie Politique</div>
        <div class="content">
            <img src="{{article.image}}" alt="">
            {{ article.content | raw }}
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur tempora harum rem, aliquid suscipit accusantium corrupti autem culpa nam doloribus corporis impedit quia vel eveniet repellat magnam adipisci itaque blanditiis alias labore et maiores exercitationem voluptatem natus. Repudiandae, tenetur, sed saepe aperiam autem, necessitatibus possimus fugiat nemo laudantium porro quia?</p>
            <p>Aliquid voluptas deserunt veritatis assumenda, totam debitis expedita ipsa. Voluptates reiciendis iste officia error, facilis nemo blanditiis voluptatem explicabo possimus ut mollitia incidunt quasi dolore non cum quod sequi esse qui, delectus laboriosam architecto eius eligendi dicta? Cum sequi sunt, tempora nesciunt explicabo, laborum doloremque beatae recusandae ex ut obcaecati.</p>
        </div>
    </article>
    
{% endblock %}